::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: #b8b8b8;
}

::-webkit-scrollbar-track {
	border-radius: 4px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 8px;
	background-color: #F5F5F5;
}

@media (max-width: 768px) {
    .about-header {
        margin-bottom: 10vh;
    }
} 

li {
    font-size: 18px !important; 
}

#particles-js {
    position:fixed;
    height: 100vh;
    width: 100vw;
}

.fa {
    padding: 9px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: black;
    color: white;
}

.fa:hover {
    opacity: 0.7;
    color: white;
    text-decoration: none;  
}

.landing-container {
    height: 100vh;
}

.about-container {
    margin-bottom: 30vh;
}

.resume-link {
    color: grey;
}

.resume-link:hover {
    text-decoration: none;
    color: black;
}

.education-container {
    margin-bottom: 30vh;
}

.experience-container {
    margin-bottom: 30vh;
} 

.sub-lead {
    font-size: 17px;
} 

.projects-container {
    margin-bottom: 15vh;
}
.projects-item {
    margin-bottom: 15vh;
}

footer {
    font-size: 10px !important;
    color: grey;
    text-align: center;
    margin-bottom: 5px;
}